<header class="app-header d-flex justify-content-between align-items-center">
  <h1 class="title m-0">Sistema de Soporte IT</h1>

  <div class="d-flex gap-2 align-items-center">
  </div>
</header>